@media (max-width: 991px) {
    .responsive-mt {
        margin-top: 0.9rem;
    }

    .responsive-nav-flex {
        flex-direction: column;
    }
}

.popup-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0000008d;
    top: 0;
    left: 0;
    z-index: 999;
}


.footer {
    position: fixed;
    width: 100vw;
    height: 5vh;
    bottom: 0;
}

nav {
    z-index: 999;
}

#about-page p {
    text-align: justify;
    line-height: 1.5;
}

#link-to-register-page,
#link-to-login-page {
    cursor: pointer;
}

#home-display-options button {
    margin: 3px;
}

#home-actual-popup {
    height: 90vh;
    overflow-y: scroll;
}

img[for*="carousel"] {
    width: 100%;
}